body {
	padding-top: 70px;
	color: #555;
}

/* Home */
.marketing div {
	text-align: center;
}

.movie-thumbnail {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

/* Movie */

.movie-container img {
	margin-right: 30px;
}

/* News */
.news-container {
    font-family: Georgia,"Times New Roman",Times,serif;
}

.news-header {
	padding-bottom: 20px;
    padding-top: 20px;
}

.news-header h1 {
	font-size: 60px;
}

.news-header p {
	color: #999;
	font-size: 20px;
}

.news-post {
	margin-bottom: 60px;
}

/* Search */

.form-group {
	margin-top: 10px;
}

option.disabled {
	color: #999;
	font-style: italic;
}

.search-results .movie-cover {
	margin-right: 20px;
}